#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  padding: 0 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 80px;

}

#nav-buttons {
  float: right;
  padding: 10px;
}

#nav-buttons .compose {
  background-color: #eee;
  border: 1px solid #000;
  border-radius: 5px;
  color: #00a087;
  height: 60px;
  font-size: 125%;
  font-weight: 300;
  opacity: 0.9;
  width: 120px;
}

#nav-buttons .compose:hover {
  color: #000;
  opacity: 1;
}