.new-tweet {
  background-color: #eee;
  border: 1px solid darkgray;
  border-radius: 5px;
  margin: 2em;
}

.new-tweet h2 {
  border-bottom: 1px solid darkgray;
  padding: 0 15px;
}

.new-tweet form {
  padding: 0 15px 15px 15px;
}

.new-tweet textarea {
  padding: 5px;
  width: 100%;
}

.new-tweet .counter {
  float: right;
  font-size: 90%;
  font-weight: 300;
  line-height: 2em;
  padding-right: 5px;
}

.invalid {
  color: red;
}